.clockContainer {
    border:2px solid rgb(1, 1, 56);
    height: 40vw;
    width:40vw;
    background: url(Clock2.jpeg) no-repeat;
    background-size: 100%;
    margin: auto;


}
#hour,#minute,#second{
    position:absolute;
    background:black;
    border-radius: 10px;
}
#hour{
  width:0.8%;
  height:10vw;
  margin-top: 9.8%;
  margin-left:19.6%;
  transform-origin: bottom ;
  }
#minute{
    
    width:0.6%;
    height:12vw;
    margin-top: 8%;
    margin-left:19.7%;
    transform-origin: bottom ;
    }
#second{
  
    width:0.4%;
    height:14vw;
    margin-top: 6%;
    margin-left:19.8%;
    transform-origin: bottom ;
}